<p class="text-success"><%= notice %></p>

<div class="container">
  <div class="card shadow-sm mb-3">
    <div class="card-body">
      <h5 class="card-title">SD Model Prompt Details</h5>

      <div class="col">
        <p class="card-text">
          <strong>SD Model:</strong>
          <%= @sd_model_prompt.sd_model.name %> <!-- Assuming you have an association to fetch the name -->
        </p>
        <p class="card-text">
          <strong>SD Prompt:</strong>
          <%= @sd_model_prompt.sd_prompt.name %> <!-- Assuming you have an association to fetch the name -->
        </p>
        <p class="card-text">
          <strong>SD UUID:</strong>
          <%= @sd_model_prompt.sd_uuid %>
        </p>
        <p class="card-text">
          <strong>Image URL:</strong>
          <%= @sd_model_prompt.img_url %>
        </p>
      </div>

      <div class="col">
        <img src="<%= @sd_model_prompt.img_url.blank? ? image_url("not_found") : @sd_model_prompt.img_url %>">
      </div>

      <div class="d-flex justify-content-between mt-3">
        <%= link_to "Edit this SD model prompt", edit_sd_model_prompt_path(@sd_model_prompt), class: "btn btn-warning btn-sm" %>
        <%= link_to "Back to SD model prompts", sd_model_prompts_path, class: "btn btn-secondary btn-sm" %>
        <%= button_to "Destroy this SD model prompt", @sd_model_prompt, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
      </div>

    </div>
  </div>
</div>
