<div class="card shadow-sm m-1" style="width: 340px; height: 220px; border-radius: 5px; border: 2px solid">
  <div class="row g-0 h-100">
    <div class="col-5 border-white border-end"
         style="background-image: url('<%= model.sample_image_url %>');
           background-size: cover;
           background-position: center;
           height: 100%;
           border-radius: 5px 0 0 5px;">
    </div>
    <div class="col-7 border-white">
      <div class="card-body h-100 d-flex flex-column justify-content-between">
        <h3 class="card-title text-primary text-center border-bottom pb-1 mt-n2 mb-1"><%= model.name %></h3>
        <p class="card-text text-secondary fst-italic flex-grow-1">
          <%= truncate(model.description.html_safe, length: 105) %>
        </p>
        <div class="d-flex justify-content-center mt-auto mb-n2 border-top mt-1 pt-2">
          <% if model.ckpt_path.present? %>
            <%= link_to "CivitAI", model.civitai_link, class: "btn btn-outline-secondary btn-sm me-2" %>
          <% end %>
          <%= link_to "View", sd_model_path(model), class: "btn btn-primary btn-sm" %>
        </div>
      </div>
    </div>
  </div>
</div>
